{% extends 'base.html.twig' %}

{% block title %}A Propos {% endblock %}

{% block body %}

{{ include('partials/header.html.twig') }}

<h1 class="text-center my-5">
	A PROPOS</h1>
<div class="container-fluid">
	<div class="firstinfo .flex-lg-row d-flex justify-content-center d-flex flex-wrap d-flex flex-row-reverse my-5">
		<div class="w-25 mx-5">
			<h2>Qui somme-nous ?</h2>
			<p>Drcolors est un duo d'artistes-artisans originaires du nord de la France : spécialistes de la réanimation murale. DrColors exerce son savoir-faire pour réaliser vos projets. 
																								Talents complémentaires et techniques maîtrisées font partie de nos gages de qualités. De la fresque murale au design d'objet et d'espace, nous vous proposons une réalisation sur mesure,
																								toujours créative et adaptée à votre univers.</p>
		</div>
		<img class="card-img-fluid" src="{{asset('/images/drcolorspres.jpg')}}" alt="duodrcolors">
	</div>
</div>


{% endblock %}
