{% extends 'base.html.twig' %}

{% block title %} &Agrave; propos {% endblock %}
{% block description %}
<mata name="description" content="Street Art, univers du Graffiti, passionés de travail typoghraphique et chromatique, leurs oeuvres sont visibles dans  les rues du Nord et ailleurs.">
 {% endblock %}


{% block body %}
<h1>{% block h1 %}Drcolors est un duo d'artistes...{% endblock %}</h1>

<p >Dans cette page, il est préférable de ne garder que l'aspect intimiste.
 L'histoire de deux gars passionés par leur art...La photo du site est pas mal.</p>
 <p class="lead"> Les articles de presse, les références sont à  déplacer dans la page nos services de la démo.</p>
 </div>
 {% endblock %}