{% extends 'base.html.twig' %}
{#inclure les Header et Footer propres à chaque page. Le Footer peut être global avec lebas#}

{% block title %}&Agrave; propos de Drcolors{% endblock %}
{% block description %}
<meta name="description" content="Tout ou presque sur l'aventure Drcolor"> 
{% endblock %}

{% block body %}
<<<<<<< HEAD
{{include('partial/header.html.twig')}}
<div class="container">
<h1>{% block h1 %}&Agrave; propos d'un duo d'artistes{% endblock %}</h1>
<p class="leader">Dans cette page, il est préférable de ne garder que l'aspect intimiste.
 L'histoire de deux gars passionés par leur art...La photo du site est pas mal. Les articles de presse, les
  références sont à  déplacer dans la page nos services de la démo.</p>
=======
<h1 class="text-center my-5" >{% block h1 %}&Agrave; propos d'un duo d'artistes{% endblock %}</h1>

<div class="container-fluid">
    <div class="firstinfo .flex-lg-row d-flex justify-content-center d-flex flex-wrap d-flex flex-row-reverse my-5">
        <div class="w-25 mx-5">
            <h2>Qui sommes-nous ?</h2>
            <p>Drcolors est un duo d'artistes-artisans originaires du nord de la France : spécialistes de la réanimation murale. DrColors exerce son savoir-faire pour réaliser vos projets. 
                                                                                                Talents complémentaires et techniques maîtrisées font partie de nos gages de qualités. De la fresque murale au design d'objet et d'espace, nous vous proposons une réalisation sur mesure,
                                                                                                toujours créative et adaptée à votre univers.</p>
        </div>
        <img class="card-img-fluid" src="{{asset('/images/drcolorspres.jpg')}}" alt="duodrcolors">
    </div>
>>>>>>> 8040416a (corectifs)
</div>
{% endblock %}
