{% extends 'base.html.twig' %}
{% block title %}Accueil - Drcolors{% endblock %}
{% block description %}
<meta name="description" content="Description de la page d'accueil">
{% endblock %}

{% block body %}
<<<<<<< HEAD
=======

>>>>>>> 4e571da (maj)
{{include('partial/carousel.html.twig')}}
{{include('partial/menu.html.twig')}}
<h1 class="text-center my-5">
{% block h1 %} Dr Colors - Réanimation murale {% endblock %}
</h1>

<div class="container-fluid">
    <div class="firstinfo .flex-lg-row d-flex justify-content-center d-flex flex-wrap my-5">
        <div class="w-25 mx-5">
            <h2>Some Text</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique molestiae alias provident iste perferendis ducimus neque, esse modi asperiores aperiam reprehenderit odio debitis eaque id tempore voluptas a placeat ullam!</p>
        </div>
        <img src="https://dummyimage.com/400x200/000/fff" class="" alt="imgaccueil">
    </div>
    <div class="firstinfo .flex-lg-row d-flex justify-content-center d-flex flex-wrap d-flex flex-row-reverse my-5">
        <div class="w-25 mx-5">
            <h2>Some Text</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique molestiae alias provident iste perferendis ducimus neque, esse modi asperiores aperiam reprehenderit odio debitis eaque id tempore voluptas a placeat ullam!</p>
        </div>
        <img src="https://dummyimage.com/400x200/000/fff" class="" alt="imgaccueil">
    </div>
</div>
{% endblock %}
