{% extends 'base.html.twig' %}

{% block title %} CGV - Drcolors {% endblock %}
{% block description %}
<mata name="description" content="Les conditions générales de nos prestations - CGV - Drcolors">
 {% endblock %}
  

{% block body %}
{{include('partial/header.html.twig')}}
<div class="container">
<h1 class="bg-warning text-center text-white">{% block h1 %} CGV - Drcolors{% endblock %}<h1>
<h3>Info</h3>
<p>La publication des CGV n’est pas un préalable à la transaction, mais le  professionnel doit savoir qu’ il y a  une obligation de communication en B to B à la demande du partenaire.
Elles précisent L’AVANT, le PENDANT et l’APR&Egrave; de la transaction.</p>
<p> Face au  client ou en cas de contestation judiciaire, elles mettent la transparence et la bonne foi de son coté. Elles figurent souvent dans les devis et les factures pro forma, mais pas toujours. Nous ne prétendons pas être les cautions morales de nos clients, mais nous indiquons avec cette page que vis à vis de la réglementation, nous ne mettons pas nos client en défaut.  
</p>
</div>
{% endblock %}
