{% extends 'base.html.twig' %}

{% block title %} Contactez les artistes {% endblock %}
{% block description %}
<mata name="description" content="Remplacer ce texte par une description que base affichera">
 {% endblock %}


{% block body %}
<div class ="form-group margin-left:10px">
<form> 
{% form_theme form 'bootstrap_5_layout.html.twig' %}
  
{{ form_start(form) }}

{{ form_widget(form) }}

    <input type="submit"/>

{{ form_end(form) }}
</form>
</div>
{% endblock %}









