{% extends 'base.html.twig' %}

{% block title %}Contactez-nous - Pro - Drcolors {% endblock %}
{% block description %}
<meta name="description" content="Formulaire de contact - professionnels - Drcolors>
 {% endblock %}


{% block body %}
<div class="container"> 
<h1 class="p-4 m-3">{% block h1 %} Collectivité, entreprises, associations {% endblock %}</h1>

{% form_theme form 'bootstrap_5_layout.html.twig' %}
  
{{ form_start(form) }}

{{ form_widget(form) }}

    <input type="submit"/>

{{ form_end(form) }}

</div>
{% endblock %}









