{% extends 'base.html.twig' %}

{% block title %} Mentions légales - Drcolors {% endblock %}
{% block description %}
<meta name="description" content="Remplacer ce texte par une description que base affichera">
 {% endblock %}


{% block body %} 
<h1>{% block h1 %} Mentions Légales {% endblock %}<h1>

<!--Juste dans Footer et/ou Intégrer au menu principal ?-->

<h3>Un guide de rédaction.</h3> 

<ul>
<li>Editeur responsable;</li>
<li>E-commerce (quand un site l'integre);</li>
<li>Droits d’auteur;</li>
<li>Cookies-Traceurs;</li>
<li>Données personnelles.</li>
</ul>

<p>Lorem Ipsum peut suffire pour la démo, mais indiquer que nous connaissons la réglementation.
Le droit regarde le contractant, pas le site qui, n'est qu'un outil.
 peu importe qu'il y ai une application de payement sur le site, Il y  une transaction onéreuse proposée par une partie.
Les artistes ne sont pas considéré comme des commercants, mais il facturent. Il s'applique donc
les principes de l’information précontractuelle et les règles de la vente au grand 
 public (Code du Commerce (B to B) et Code de la Consommation (B to C).
Rendre accessible depuis tout le site cette page avec ces informations.</p>
@Anissa, tu as plus d'informations sur Drcolors. Quand plusieurs personnes mutualisent leurs moyens et savoir-faire dans 
un but non lucratif c'est une association :   
<a href="https://www.legalplace.fr/guides/statuts-association-culturelle-artistique/">statut légal</a>.
 Sinon c'est le régime général pour libéraux. 
{% endblock %}