{% extends 'base.html.twig' %}

{% block title %} Mentions légales - Drcolors {% endblock %}
{% block description %}
<meta name="description" content="Remplacer ce texte par une description que base affichera">
 {% endblock %}


{% block body %}
{{include('partial/header.html.twig')}}
<div class="container">
<h1 >{% block h1 %} Mentions Légales {% endblock %}<h1>

<h3>Un guide de rédaction.</h3>
    <p>Editeur responsable;</p>
	<p>E-commerce (quand un site l'integre);</p>
	<p>Droits d’auteur;</p>
	<p>Cookies-Traceurs;</p>
	<p>Données personnelles.</p>

<p>Indiquer que nous connaissons la réglementation. Le droit regarde le contractant, pas le site qui n'est qu'un outil.
 Il n'y a pas d'application de payement, mais il y a une transaction onéreuse proposée par une partie.
Les artistes, même en n'étant pas considérés comme commercants, facturent. Les principes de l’information précontractuelle et les règles de la vente au grand
 public s'appliquent à eux : Code du Commerce (B to B) et Code de la Consommation (B to C).
 Quand plusieurs personnes mutualisent leurs moyens et savoir-faire dans
un but non lucratif c'est une association :
<a href="https://www.legalplace.fr/guides/statuts-association-culturelle-artistique/">statut légal</a>.
 Sinon c'est le régime général pour libéraux ou entreprises. Les mentions légales de Drcolors sont à compléter dans cette esprit. 
</p>
</div>
{% endblock %}
