{% extends "base.html.twig" %}

{% block title %}Mentions légales - Drcolors {% endblock %}

{% block description %}

<mata name="description" content="Mentions légales, CGU, une page de Drcolor qui vous dit tout.">

{% endblock %}

{% block body %}

{% block contentlegal %}

<div class="container">
  <h2>Un guide de rédaction</h2>
  <p>Rendre accessible depuis tout le site cette page avec ces informations</p>
  <ul>
    <li>Editeur responsable;</li>
    <li>E-commerce (quand un site l'integre);</li>
    <li>Droits d’auteur;</li>
    <li>Cookies-Traceurs;</li>
    <li>Données personnelles.</li>
  </ul>
  <p>Lorem Ipsum peut suffire pour la démo, mais indiquer que nous connaissons la réglementation.<p>
</div>
<div>
  <p>Le droit regarde le contractant, pas le site, un outil. peu importe qu'il y ai un outil de
  vente sur le site, Il y  une transaction onéreuse proposée par une partie.</p>

  <p>Les artistes ne sont pas considéré comme des commercants, mais il facturent. Il s'applique donc
   les principes de l’information précontractuelle et les règles de la vente au grand
    public (Code du Commerce (B to B) et Code de la Consommation (B to C).</p>
</div>
{% endblock %}

{% endblock %}
