{% extends 'base.html.twig' %}

{% block title %} Nos Services {% endblock %}
{% block description %}
<mata name="description" content="Interieur ou Exterieur, plans et volumes - Drcolors">
 {% endblock %}
{% block body %} 
<h1>{% block h1 %} Nos services : plans ou espaces, sur objets et supports variés {% endblock %}</h1>

<p>La page Présentation du site <a href="https://www.drcolors.fr/presentation">Drcolors</a> sans la photo est à déplacer ici.</p>
<p>Il faudra ajouter les articles de presse et les références en plus de quelques photos d'illustration
statiques sans animation</p>
<p>cela permettra d'expliquer ce qu'est un volume. Ce n'est pas un plan, c'est un travail en 3d, sur du relief ou un espace.</p>
<p>C'est les photos qui permettent de le dire : on ne parle pas qu'à des "initiés", sinon le fichier-client maigris... </p>
{% endblock %}