{% extends 'base.html.twig' %}

{% block title %}Nos Services - Drcolors{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<div class="container p-4 m-3">
<h1 class="text-center my-5">{% block h1 %}Nos services{% endblock %}</h1>

<div class="card-deck my-5">
	<div class="card mx-5">
		<img src="{{asset('/images/DrColorsheader.png')}}" class="card-img-top" alt="img-fresque-decorative">
		<div class="card-body">
			<h5 class="card-title">Fresque décorative</h5>
			<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo blanditiis beatae a ut recusandae tenetur rerum praesentium quidem alias quae ea, veniam nam necessitatibus numquam velit delectus corporis labore veritatis.</p>
		</div>
	</div>
	<div class="card mx-5">
		<img src="{{asset('/images/DrColorsheader.png')}}" class="card-img-top" alt="img-art-urbain">
		<div class="card-body">
			<h5 class="card-title">Art Urbain</h5>
			<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo blanditiis beatae a ut recusandae tenetur rerum praesentium quidem alias quae ea, veniam nam necessitatibus numquam velit delectus corporis labore veritatis.</p>
		</div>
	</div>
	<div class="card mx-5">
		<img src="{{asset('/images/DrColorsheader.png')}}" class="card-img-top" alt="img-oeuvres-originales">
		<div class="card-body">
			<h5 class="card-title">Oeuvres Originales</h5>
			<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo blanditiis beatae a ut recusandae tenetur rerum praesentium quidem alias quae ea, veniam nam necessitatibus numquam velit delectus corporis labore veritatis.</p>
		</div>
	</div>
</div>

<h2 class="text-center my-5">ILS NOUS ONT FAIT CONFIANCE :</h2>

<div class="text-center my-5">
<img src="{{asset('/images/Ilsnousontfaitconfiance.png')}}" class="w-75 text-center"alt="logopartenaires">
</div>
</div>
{% endblock %}
