{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}


<div class="example-wrapper">
  <h1>Page administration de Dr Colors </h1>
  <h4>Si vous êtes là, c'est que vous faites partie de l'équipe... ;)</h4>
</div>

<div class="example-wrapper">
  <label for="log">Login</label>
  <input type="text" placeholder="Exemple : admin" id="log" required>
</div>

<div class="example-wrapper">
  <label for="pw">Mot de passe</label>
  <input type="password" placeholder="Exemple : 1234" required>
</div>
{% endblock %}
