{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block description %}
<mata name="description" content="Page resèrvée. Accès sur autorisations">
 {% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <div class="example-wrapper">
    <h1>Page administration de Dr Colors </h1>
    <h4>Si vous êtes là, c'est que vous faites partie de l'équipe... ;)</h4>
  </div>

  <div class="example-wrapper">
    <label for="log">Login :</label>
    <input type="text" placeholder="Exemple : admin" id="log" required>
  </div>

  <div class="example-wrapper">
    <label for="pw">Mot de passe :</label>
    <input type="password" placeholder="Exemple : 1234" required>
  </div>

  <div class="example-wrapper">
  <input type="button" value="Se connecter">
  </div>
{% endblock %}
