{% extends 'base.html.twig' %}

{% block title %}Bonjour administrateur !{% endblock %}

{% block body %}
{{include('partial/header.html.twig')}}

<h1 class="text-center">Liste des clients et des demandes en cours</h1>

<h3 class="text-left">Particuliers</h3>
{{dump(userPar)}}

<h3 class="text-left">Professionnels</h3>
{{dump(userPro)}}

{% endblock %}
