{% extends 'base.html.twig' %}

{% block title %}Bonjour administrateur !{% endblock %}

{% block body %}
{{include('partial/header.html.twig')}}
<h1 class="text-center">Liste des clients et des demandes en cours</h1>
{{dump(userPar)}}

{{dump(userPro)}}

{% endblock %}
